<h2>Fetch has the following species of animals:</h2>
<h4>Click a records to edit or delete it.</h4>

<ul>
  <% @varieties.each do |variety| %>
    <li>
      <%= link_to variety.name, edit_variety_path(variety) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add new species", new_variety_path %>
