Edit or Delete <%= @variety.name %>
<ul>
  <% @varieties.each do |variety| %>
    <li>
      <%= link_to variety.name, edit_varieties_path %>
    </li>
  <% end %>
</ul>

<%= link_to "Add another species", new_varieties_path %>
<%= link_to "Species Home", varieties_index_path %>
