Hello
<ul>
  <% @variety.each do |variety| %>
    <li>
      <%= link_to variety.name, edit_variety_path %>
    </li>
  <% end %>
</ul>

<%= link_to "Add another species", new_variety_path %>
<%= link_to "Species Home", varieties_path %>
