<h1> FETCH </h1>

<div> Filter by animal type or click all to see a complete list of animals. </div>
<ul>
  <% @varieties.each do |variety| %>
    <li>
      <%= link_to variety.name, variety %>
    </li>
  <% end %>
</ul>


<%= link_to "Add an animal", new_varieties_animal_path %>
