<h1> FETCH </h1>

<div> Filter by animal type or click all to see a complete list of animals. </div>
<ul>
  <% @species.each do |species| %>
    <li>
      <%= link_to species.name, species %>
    </li>
  <% end %>
</ul>


<%= link_to "Add an animal", new_species_animal_path %>
