<h1> FETCH </h1>

<div> Filter by animal type or click all to see a complete list of animals. </div>
<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= link_to animal.name, animal %>
    </li>
  <% end %>
</ul>


<%= link_to "Add an animal", new_variety_animal_path %>
